<div class="container">
  <div class="row">
    <div class="col-1 text-center bg-light">商品編集</div>
  </div>
  
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@item.errors.count, "error") %> prohibited this obj from being saved:
      </h3>
      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'detail', item: @item %>

</div>