<div class="container">
  <div class="row">
    <div class="col-1 text-center bg-light">会員一覧</div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><u><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id), class: "" %></u></td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted == false %>
                <b class="text-success">有効</b>
              <% else %>
                <b class="text-muted">退会</b>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @customers %>
</div>
