<div class="container">
  <div class="row m-2">
    <div class="col-2 m-2 text-center bg-light">注文履歴一覧</div>
  </div>
  <div class="row m-2">
    <table class="table col-8">
      <thead>
        <tr>
          <th class="col-2">購入日時</th>
          <th class="col-2">購入者</th>
          <th class="col-2">注文個数</th>
          <th class="col-2">注文ステータス</th>
        </tr>
      </thead>
      <% @orders.each do |order| %>
      <tbody>
        <tr>
          <td><%= order.created_at %></td>
          <td><%= order.customer_id %></td> <!-- 名前に -->
          <td></td> <!-- 個数 -->
          <td><%= order.order_status %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
        <!-- < %= paginate order %>-->
    </div>
</div>
